@import url("./reset.css");
@import url("./open-color.css");

:root {
  --font-sans: "Josefin Sans", sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-y: overlay;

  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

summary, button, input[type=radio]:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}

hr {
  width: 100%;
}
