@import url("./open-color.css");

:root {
  --font-sans: "Josefin Sans", sans-serif;
  
  font-family: var(--font-sans);
}

a {
  color: inherit;
  text-decoration: none;
}

summary, button, input[type=radio]:not(:disabled), input[type=checkbox]:not(:disabled) {
  cursor: pointer;
}
