@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&family=Truculenta&display=swap');

footer {
    z-index: -1;
}

header {
    z-index: 1;
}

body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    background-color: whitesmoke;
    width: 60vw;
}

main * {
    font-family: "Josefin Sans", Montserrat, sans-serif;
}

.interactive-input,
.interactive-output {
    display: flex;
    width: 50%;
    padding: 2em;
}

.interactive-input {
    justify-content: center;
    flex-direction: column;
    border-width: 1px;
    border-style: dashed;
}

.interactive-output {
    border-width: 1px;
}

.roster {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    align-self: center;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.citizen-circle {
    background-color: white;
    border-color: black;
    border-radius: 100%;
    border-style: double;
    border-width: 1px;
    color: transparent;
    cursor: pointer;
    display: flex;
    height: 20px;
    margin: 2px;
    width: 20px;
    justify-content: center;
    align-items: center;
}

.citizen-circle:hover {
    color: black;
    background-color: white!important;
    padding: -50%;
}